<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Employee Directory</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
				 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
				 crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h3>Employee Directiory</h3>
	<hr>
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	<form th:action="@{/employees/search}" class="form-inline">
		<!-- Button for adding employee -->
		<a th:href="@{/employees/addForm}" class="btn btn-primary btn-sm mb-3">
			Add Employee
		</a>
		<input class="form-control ml-5 mr-sm-2 mb-3" type="search" name="employee" placeholder="Search by name"/>
		 <button class="btn btn-success mb-3" type="Submit">Search</button>
	</form>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstName}"/>
				<td th:text="${employee.lastName}"/>
				<td th:text="${employee.email}"/>
				
				<!-- Update and Delete buttons -->
				<td>
					<a th:href="@{/employees/updateForm(id=${employee.id})}" class="btn btn-info btn-sm">Update</a>
					<a th:href="@{/employees/delete(id=${employee.id})}" class="btn btn-danger btn-sm"
					onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return true;">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<form action="#" th:action="@{/logout}" method="POST">
		<input type="Submit" value="Logout" class="btn btn-outline-primary mt-2"/>
	</form>
</div>
</body>
</html>