<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Directory</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
				 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
				 crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h3>Employee Directiory</h3>
	<hr>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstName}"/>
				<td th:text="${employee.lastName}"/>
				<td th:text="${employee.email}"/>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>